<app-header 
[backgroundColor]="'main__palette'"
[pagesMenu]="[
  {name:'Home', route:'/clinica/home'},
  {name:'Vacinas', route:'/clinica/listagem-vacinas'},
  {name:'Funcionários', route:'/clinica/listagem-funcionarios'},
  {name:'Estoque', route:'/clinica/listagem-funcionarios'}
]"></app-header>

<ion-content [fullscreen]="true" class="main__palette">
  <ion-row class="container ion-justify-content-center">
    <ion-col size="10">
      <ion-toolbar>
        <ion-row>
          <ion-title  class="container__title">
            Cartilha de Vacinas
          </ion-title>

          <ion-item lines="none">
            <app-input-search [searchFunction]="pesquisarVacina" (searchResults)="onSearchVacina($event)"></app-input-search>
            <app-button-add [message]="'Nova Vacina'" [imgPath]="'assets/icon/icon_vacina.svg'" [route]="'/clinica/cadastro-vacina'"></app-button-add>
          </ion-item>
        </ion-row>
      </ion-toolbar>

      <ion-row class="container__vacinas">
        <ion-col size="12">
          <ion-row class="container__vacinas__content">
            <ion-col size="4" *ngFor="let vacina of dados">
              <app-card-vacina [dados]="vacina"></app-card-vacina>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>