@import '../../../../theme/variables.scss';

.container__vacinas{
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    height:60vh;
    background: $grayscale-light-color;
    overflow-y: scroll;
}