<ion-row class="ion-justify-content-around">
  <ion-col *ngFor="let input of inputs" size="{{ input.size }}">
    <ion-item class="form__item" lines="none" [formGroup]="formGroup">
      <ion-input 
        [label]="input.label"
        labelPlacement="floating"
        fill="outline"
        [formControlName]="input.name"
        [placeholder]="input.placeholder"
        [type]="input.type"
        [appMask]="input.mask || ''">
      </ion-input>
    </ion-item>
  </ion-col>

  <ng-content></ng-content>
</ion-row>