*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
}
.logo{
display: none;
justify-content: center;
align-items: center;
}
app-menu{
display: none;
}
.ajuste_logo{
width: 35%;
height: 35%;
}

.form{
    width: 100%;
    height: 90%;
}
@media (min-width: 320px) and (max-width: 980px){
    .ajuste_logo{
        width: 75%;
    }
    app-header-component{
        display: none;
      }
}
@media (max-width: 1024px){
    .ajuste_logo{
        width: 100%;
    }
}
