<ion-item lines="none">
  <ion-row class="item__container ion-justify-content-between ion-align-items-center">
    <ion-col>
      <p>ID</p>
    </ion-col>
    <ion-col size="4">
      <p>VACINA</p>
    </ion-col>
    <ion-col size="4">
      <ion-row class="ion-justify-content-around">
        <p>INICIO</p>
        <p>-</p>
        <p>FIM</p>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row class="item__container__status ion-align-items-center">
        <span class="dot"></span>
        <p>STATUS</p>
      </ion-row>
    </ion-col>
    <img class="item__container__img" src="../../../assets/icon/icon_edit.svg" alt="">
  </ion-row>
</ion-item>