<app-header 
[backgroundColor]="'#035AA6'"
[pagesMenu]="[
  {name:'Listagens', route:'listagem'},
  {name:'Médicos',   route:'cad-medicos'},
  {name:'Clínicas',  route:'cad-clinica'}
]"></app-header>

<ion-content [fullscreen]="true">
  <ion-row class="container ion-justify-content-center">
    <ion-col size="10">
      <ion-toolbar>
        <ion-title  class="form__title">
          Cadastro Médico
        </ion-title>
      </ion-toolbar>

      <app-form-cadastro-medico></app-form-cadastro-medico>

    </ion-col>
  </ion-row>
</ion-content>
