*{
    margin: 0;
    padding: 0;
}
  app-menu{
    display: none;
  }
  app-cards-agenda{
    display: none;
  }
.logo{
display: none;
justify-content: center;
align-items: center;
}
.ajuste_logo{
width: 35%;
height: 35%;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5vw;
}
@media (max-width: 480px){
    .ajuste_logo{
        width: 75%;
    }
    card-agenda-desktop{
      display: none;
    }
    app-header-component{
      display: none;
    }
    app-footer{
      display: none;
    }
    app-menu{
      display: flex;
      position: sticky; 
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
    .logo{
      display: flex;
    }
    app-cards-agenda{
      display: flex;
      height: 100vh;
      margin-top: -15vh;
    }
}
@media (max-width: 868px){
    .ajuste_logo{
        width: 100%;
    }
}
