*{
    margin: 0;
    padding: 0;
}
  app-menu{
    display: none;
  }
  app-cards-agenda{
    display: none;
  }
.logo{
display: none;
justify-content: center;
align-items: center;
}
.ajuste_logo{
width: 35%;
height: 35%;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5vw;
}
@media (max-width: 480px){
    .ajuste_logo{
        width: 75%;
    }
}
@media (max-width: 1024px){
    .ajuste_logo{
        width: 100%;
    }
}
