.data-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0; /* Ajuste o espaçamento, se necessário */
}

/* Estilos Responsivos */
@media (min-width: 275px) and (max-width: 768px) {
    .data-input {
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 13px;
        align-self: center;
        height: auto; /* Ajuste a altura conforme necessário */
        margin-bottom: 0; /* Ajuste o espaçamento, se necessário */
    }
}

/* Ajustes para o input de data (Angular Material) */
.data-input mat-form-field {
    width: 100%; /* Garante que o campo ocupe 100% da largura */
}

.data-input mat-label {
    margin-bottom: 5px; /* Espaço entre o label e o input */
}

/* Estilizando o input de data */
.data-input input.mat-input-element {
    padding: 10px; /* Adiciona padding para melhor usabilidade */
    border-radius: 4px; /* Borda arredondada */
    border: 1px solid #ccc; /* Borda padrão */
    background-color: #E0E2EC; /* Cor de fundo para se alinhar com os outros inputs */
}

/* Estilos de foco */
.data-input input.mat-input-element:focus {
    outline: none; /* Remove o contorno padrão */
    border-color: var(--primary-color); /* Altera a cor da borda quando focado */
}

/* Ajustes para animação e transições, se necessário */
.data-input mat-form-field.mat-focused .mat-form-field-flex {
    border-color: var(--primary-color); /* Borda ao focar */
}
