.data-input{
    display: flex;
    flex-direction: column;
margin-bottom: -15px;
}
@media (min-width: 275px) and (max-width: 768px)  {
    .data-input{
        width: 68vw;
        margin-bottom: -15px;
        }
}