<ion-row class="container__vacinas__content">
  <ion-col size="3" *ngFor="let vacina of dados; let i = index">
    <div class="card" [id]="'vacina-' + i">
      <ion-title class="card__title">
        {{ vacina.nome }}
      </ion-title>
      <ion-row class="card__footer ion-align-items-center ion-justify-content-between">
        <button class="card__footer__icon__info" id="open-modal-{{i}}" (click)="onSelectVacina(vacina.codVacina, modal)">
          <img src="assets/icon/icon_info.svg" alt="">
        </button>
        
        <ion-text>
          <p>R$ {{ vacina.preco }}</p>
        </ion-text>
      </ion-row>
    </div>
    
    <ion-modal #modal class="modal">
      <ng-content>
        <div class="modal__card__info">
          <div class="description">
            <ion-toolbar>
              <ion-title class="modal__title">{{ vacina.nome }}</ion-title>
              <ion-buttons slot="end">
                <div class="btn__exit" (click)="modal.dismiss()">
                  <img src="assets/icon/icon_x.svg" alt="">
                </div>
              </ion-buttons>
            </ion-toolbar>
  
            <ion-row class="modal__card__info__desc">
              <ion-col size="12">
                <p>{{ vacina.informacao }}</p>
              </ion-col>
            </ion-row>
            <p><span>Período:</span> {{ vacina.periodo }}</p>
            <p><span>Dias de Aplicação:</span> {{ vacina.diasAplicacao }}</p>
            <p><span>Valor:</span> R$ {{ vacina.preco }}</p>
          </div>

          <ion-row>
            <ion-title class="modal__info__content">Última campanha</ion-title>
            <a 
              (click)="modal.dismiss()"
              class="modal__info__campanhas"
              [routerLink]="'/clinica/listagem-campanhas'"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }">
              Ver todas as campanhas
            </a>
            <ion-col size="12">
              <app-item-campanha [dados]="dadosCampanha"></app-item-campanha>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-title class="modal__info__content">Lotes</ion-title>
            <ion-item lines="none">
              <!-- <app-input-search [searchFunction]="pesquisarCampanha" (searchResults)="onSearchCampanha($event)"></app-input-search> -->
              <button [routerLink]="'/clinica/cadastro-lote'" (click)="modal.dismiss()" class="button__add">
                <span>+</span>
                <div class="button__add__inner">
                  <p>Adicionar Lote</p>
                </div>
              </button>
            </ion-item>
            <ion-col size="12">
              <ion-row class="table">
                <ion-col>
                  <ion-item class="top" lines="none">
                    <ion-col *ngFor="let title of titlesTable" size="{{ title.size }}">
                      <ion-label >{{ title.name }}</ion-label>
                    </ion-col>
                    <span class="table__space"></span>
                  </ion-item>

                  <ion-accordion-group class="accordion" expand="inset">
                    <ion-accordion class="accordion__item" *ngFor="let item of dadosLotes" value="{{ item.codLote }}">
                      <ion-item slot="header" class="top__header">
                        <ion-label>{{ item.codLote }}</ion-label>
                        <ion-label>{{ item.qtd }}/{{ item.qtd }}</ion-label>
                        <ion-label>{{ item.dataCompra }}</ion-label>
                        <ion-label>{{ item.dataValidade }}</ion-label>
                        <ion-label>{{ item.valor }}</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <ion-row class="info ion-align-items-center">
                          <ion-item lines="none">
                            <ion-title class="info__title">Fornecedor</ion-title>
                            <p>{{ item.fornecedor.nome }}</p>
                          </ion-item>
                          <ion-item lines="none">
                            <ion-title class="info__title">CNPJ</ion-title>
                            <p>{{ item.fornecedor.cnpj }}</p>
                          </ion-item>
                          <ion-item lines="none">
                            <ion-title class="info__title">Telefone</ion-title>
                            <p>{{ item.fornecedor.telefone }}</p>
                          </ion-item>
                        </ion-row>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </ion-col>
              </ion-row> 
            </ion-col>
          </ion-row>
        </div>
      </ng-content>
    </ion-modal>
  </ion-col>
</ion-row>
