.container{
  min-height: 90vh;
}

.footer{
  height: 10vh;
  background: var(--primary-color);
  img{
    margin: 0 20px;
    width: 390px;
    top: -150px;
    position: absolute;
  }

  .end{
    right: 0;
  }
}