<ion-header class="header">
  <img src="./assets/img/logo_branca.png" class="logo">
  <div class="menu_header">
    <i (click)="navigateTo('tela-inicial', 'forward')">Home</i>
    <i (click)="navigateTo('agendamento-page', 'forward')">Agendamentos</i>
    <i (click)="navigateTo('tela-servicos', 'forward')" >Disk Denúncia</i>
    <i (click)="navigateTo('vacina-em-casa-page', 'forward')">Redes</i>
  </div>
  <div class="icons_header">
    <ion-icon name="person-outline" size="large" style="cursor: pointer;"></ion-icon>
    <ion-icon name="log-out-outline" size="large" (click)="sair()" style="cursor: pointer;"></ion-icon>
  </div>
</ion-header>