.parte_superior {
  display: none; 
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.icon {
  width: 32px;
  color:var( --primary-color);
  display: flex;
  justify-content: flex-start;
}
  .agendamentos{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 100%;
    max-width: 700px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    display: flex;
    flex-direction: row ;
    justify-content: center;  
    align-items: center;
}
.card .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}
.calendar_icon{
  display: flex;
  align-items: center;
}
.info_icon{
  cursor: pointer;
  
  .icone_info{
    color: var(--header-color);
  }
}

.card .info p {
    margin: 0;
    color: #000000;
}
.card .info p:first-child {
    font-weight: bold;
}
.card i {
    font-size: 18px;
    color: #00bfa5;
}
ion-modal#example-modal {
  --width: fit-content;
  --min-width: 350px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  .modal-content {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        font-size: 15px;
}

ion-modal#example-modal h1 {
  margin: 20px 0 10px 0;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}
}

  @media (min-width: 320px) and (max-width: 980px) {
    .parte_superior{
        display: flex;
    }
    .ajuste_logo{
      width: 100%;
    }
    app-header-component{
      display: none;
    }
    .card{
      max-width: 400px;
    }
    .card .info{
      gap:40px
    }
  }