<ion-content [fullscreen]="true">
  <app-header-component></app-header-component>
  <div class="parte_superior">
    <div class="icon">
      <ion-icon name="arrow-back" class="icone_seta" size="large" (click)="navigateTo('agendamento-page', 'back')"
        style="cursor: pointer; width: 64px"></ion-icon>
    </div>
    <div class="logo">
      <img src="./assets/img/logo_inovaccine.png" alt="Logo" class="ajuste_logo" />
    </div>
  </div>

  

  
    <div *ngIf="agendamentos.length > 0; else noAgendamentos" class="agendamentos">
      <div *ngFor="let agendamento of agendamentos" class="card">
        <div class="info">
          <div class="calendar_icon">
            <ion-icon name="calendar-outline" size="large"></ion-icon>
          </div>
          <div class="info_agendamento">
            <p>Agendado para dia: {{ agendamento.data }}</p>
            <p>Horário: {{ agendamento.hora }}</p>
            <p>Forma de pagamento: {{ agendamento.forma_Pagamento }}</p>
          </div>
          <div class="info_icon">
          <ion-icon name="information-circle-outline" class="icone_info" size="large" ></ion-icon>
          </div>
        </div>
      </div>
    </div>
    
    <ng-template #noAgendamentos>
      <ion-item>
        <ion-label>
          <p>Você não possui agendamentos.</p>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-content>

