<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-toolbar>
    <ion-title  class="container__title">
      Novo Lote
    </ion-title>
  </ion-toolbar>

  <ion-row>
    <ion-col size="6">
      <app-input-search-cadastro 
        [formGroup]="form"
        [label]="'Vacina'"
        [name]="'fk_lote_codVacina'"
        [searchFunction]="pesquisarVacina"
        (codigoSelecionado)="vacinaId = $event">
      </app-input-search-cadastro>

      <app-input-text-list [inputs]="inputsDataLote" [formGroup]="form">

        <app-input-date [formGroup]="form" [label]="'Data de Compra'" [name]="'dataCompra'"></app-input-date>
        <app-input-date [formGroup]="form" [label]="'Data de Validade'" [name]="'dataValidade'"></app-input-date>

      </app-input-text-list>
    </ion-col>
  
    <ion-col size="6">
      <ion-toolbar>
        <ion-title>Informações do Fornecedor</ion-title>
      </ion-toolbar>
      <app-input-text-list [inputs]="inputsDataFornecedor" [formGroup]="form"></app-input-text-list>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-end">
    <ion-button class="form__button" type="ngSubmit">Cadastrar</ion-button>
  </ion-row>
</form>