<ion-content>

  <div class="css_grandient">
    <div class="text_css">
      <p>#TODOSCONTRAOMOSQUITO</p>
    </div>
  </div>
  
  <ion-row class="form-row">
  <ion-col size-md="10" size-sm="12" size-lg="6" size-xs="12">
    <div class="info_campanha">
      <div class="img_virus_div">
        <p style="font-size: 35px; color: gray; font-weight: bolder;">
          Denuncie um Possível Criadouro de Dengue:
        </p>
        <img class="virus_img" src="./assets/img/Virus Disinfection-pana.png" alt="Imagem de prevenção ao vírus">
      </div>
    </div>
  </ion-col>
  
  <ion-col size-md="10" size-sm="12" size-lg="6" size-xs="12">
    <div class="component">
      <form [formGroup]="form" class="formulario">

        
        <!-- Segunda Parte do Formulário: Nome, Descrição, Localização -->
          <div class="texto_dengue">Deixe Aqui Sua Denúncia</div>
          <div class="inputs">
            <!-- Campo de Nome -->
            <label for="nome">Nome Completo*</label>
            <ion-input formControlName="nome" placeholder="Nome" class="custom" [disabled]="isAnonymous" [counter]="true"></ion-input>
            
            <!-- Checkbox de Anonimato -->
            <div style="margin: 15px; display: flex; gap: 5px;">
              <ion-checkbox formControlName="anonimato" slot="start" (ionChange)="toggleAnonymous($event)"></ion-checkbox>
              <ion-label>Denúncia anônima</ion-label>
            </div>

            <!-- Campo de Descrição -->
            <label for="descricao">Descrição</label>
            <ion-input formControlName="descricao" placeholder="Escreva mais detalhes aqui" class="custom desc" [counter]="true"></ion-input>

            <!-- Campo de Localização -->
            <label for="localizacao">Localização* <ion-icon name="location-sharp"></ion-icon></label>

            <label for="cep">CEP*</label>
              <ion-input formControlName="cep" placeholder="CEP" class="custom" [counter]="true" (input)="onCepInput()"></ion-input>
              <!-- Campo de Rua -->
              <label for="rua">Rua</label>
              <ion-input formControlName="rua" placeholder="Rua" class="custom" [counter]="true" aria-readonly="true"></ion-input>
  
              <!-- Campo de Número -->
              <label for="numero">Número*</label>
              <ion-input formControlName="numero" placeholder="Número" class="custom" [counter]="true"></ion-input>

              <label for="cidade">Cidade</label>
              <ion-input formControlName="cidade" placeholder="Cidade" class="custom" [counter]="true" aria-readonly="true"></ion-input>

            <!-- Checkbox de Concordância -->
            <i class="i_style">
              <ion-checkbox style="padding: 3px;" formControlName="termos"></ion-checkbox>
              Concordo e Aceito os Termos de Uso e Política de Privacidade
            </i>
            <i class="i_style" style="color: red;">* Obrigatório</i>
          </div>

          <!-- Botão de Envio -->
          <ion-button class="btn_enviar" size="small" (click)="submitForm()">
            Enviar
          </ion-button>
          
          <!-- Informação Adicional -->
          <i class="i_style">
            Saiba mais o que acontecerá após fazer a denúncia
          </i>
          
        </form>
      </div>
    </ion-col>
  </ion-row>
<ion-toast 
  style="--background: var(--card-vacPendentes); color: black;" 
  [isOpen]="isToastOpen" 
  [message]="toastMessage" 
  [duration]="3000" 
  icon="close-circle">
</ion-toast>
<app-menu></app-menu>
</ion-content>
