ion-input.custom {
    --background: #fff;
    --color: #000;
    --placeholder-color: #000;
    --placeholder-opacity: 0.5;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    --border-radius:15px;
    
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  app-menu{
    display: none;
  }
  .component{
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 6%;
  }
  .formulario{
    background-color: #d9d9dd;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .texto_dengue{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    width: 100%;
  }
  label{
    display: flex;
    padding: 10px;
    font-size: 18px;
  }
  .inputs{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 90%;
  }
  .desc{
    height: 10vh;
  }
  .i_style{
    display: flex;
    align-items: center; 
    padding: 10px;
  }
  .checkbox{
    width: 70%;
  }
  .btn_enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    --background: var(--primary-color);
  }
  .css_grandient{
    background: linear-gradient(90deg, rgba(4,191,173,1) 0%, rgba(3,90,166,1) 37%, rgba(2,115,104,1) 60%);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .text_css{
        color: var(--color-text-ligth);
        font-weight: bolder;
        font-size: 40px;
    }
}
.info_campanha{
    display: flex;
    justify-content: center;
    align-items: center;
    .img_virus_div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        .virus_img{
            width: 80%;
            
        }
    }
}

@media (min-width: 320px) and (max-width: 980px) {
  ion-row {
    display: flex;
    flex-direction: column; /* Permite que as colunas empilhem em telas pequenas */
    align-items: center;    /* Centraliza horizontalmente */
  }
  .css_grandient {
    padding: 15px;
  }

  .text_css p {
    font-size: 25px;
  }

  .texto_dengue {
    font-size: 16px;
  }

  .inputs label {
    font-size: 14px;
  }

  .inputs .custom {
    font-size: 14px;
  }

  .btn_enviar {
    width: 95%;
  }
  app-menu{
    display: flex;
position: sticky; 
bottom: 0;
left: 0;
width: 100%;
z-index: 1000;
}
}