<ion-footer class="footer">
  <ion-toolbar color="light">
    <ion-grid>
      <ion-row>
        <!-- Coluna 1: Logo e Links do Website -->
        <ion-col size="12" size-md="6">
          <div class="footer-left">
            <img src="./assets/img/logo_inovaccine.png" alt="Logo Inovaccine" class="logo" />
            <div class="website-align">
              <div class="website-links">
                <h5>Website</h5>
                <a href="#">Home</a>
                <a href="#">Blog</a>
                <a href="#">Cadastrar</a>
              </div>
              <div class="website-links">
                <a href="#">Disk Denúncia</a>
                <a href="#">Login</a>
              </div>
            </div>
          </div>
        </ion-col>

        <!-- Coluna 2: Social Media e Contato -->
        <ion-col size="12" size-md="6" class="footer-social-and-rights">
          <div class="footer-right">
            <h5>Social Media</h5>
            <div class="social-media">
              <ion-icon name="logo-instagram"></ion-icon>
              <span>inovaccine</span>
            </div>
            <div class="social-media">
              <ion-icon name="logo-whatsapp"></ion-icon>
              <span>+55 (15) 99999-9999</span>
            </div>
          </div>

          <!-- Parte dos direitos autorais alinhada ao lado -->
          <div class="footer-bottom-rights">
            <p>Todos os direitos reservados © Inovaccine, 2024.</p>
            <a href="#">Termos de Uso</a> | <a href="#">Política de Privacidade</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
