<app-header 
[backgroundColor]="'admin__palette'"
[pagesMenu]="[
  {name:'Listagens', route:'/super-user/listagem-clinicas'},
  {name:'Médicos', route:'/super-user/cadastro-medico'},
  {name:'Clínicas', route:'/super-user/cadastro-clinica'}
]"></app-header>

<ion-content [fullscreen]="true" class="admin__palette">
  <ion-row class="container ion-justify-content-center">
    <ion-col size="10">

      <app-form-cadastro-medico></app-form-cadastro-medico>

    </ion-col>
  </ion-row>
</ion-content>
