<app-header 
[backgroundColor]="'main__palette'"
[pagesMenu]="[
  {name:'Home', route:'/clinica/home'},
  {name:'Vacinas', route:'/clinica/listagem-vacinas'},
  {name:'Funcionários', route:'/clinica/listagem-funcionarios'},
  {name:'Estoque', route:'/clinica/listagem-funcionarios'}
]"></app-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
