.content {
  &__title {
    color: var(--secondary-color);
  }
}

a {
  color: var(--secondary-color);
  text-decoration: none;

  &:hover {
    box-shadow: 0 1px 0 var(--secondary-color);
  }
}

.pagina-agendamento-link{
  height: fit-content;
  padding-bottom: 3px;
}


.table {
  ion-item.top{
      margin: 15px;
      &__header{
          &::part(native){
              background: var(--tertiary-color);
          }
      }

      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      color: var(--tertiary-color);
      
      &::part(native){
          background: var(--primary-color);
      }
  }

  &__space{
      width: 24px;
      height: 24px;
      margin-left: 20px;
  }

  .accordion{
      &__item ion-item.item.md.item-lines-full.ion-activatable.ion-focusable.item-label{
          --background: var(--tertiary-color);
      }
  }
}