<app-header 
[backgroundColor]="'main__palette'"
[pagesMenu]="[
  {name:'Home', route:'/clinica/home'},
  {name:'Vacinas', route:'/clinica/listagem-vacinas'},
  {name:'Funcionários', route:'/clinica/listagem-funcionarios'},
  {name:'Estoque', route:'/clinica/listagem-funcionarios'}
]"></app-header>

<ion-content [fullscreen]="true" class="main__palette">
  <ion-row class="container ion-justify-content-center">
    <ion-col size="10">
      <ion-toolbar>
        <ion-row>
          <ion-title  class="container__title">
            Agendamentos do dia
          </ion-title>

        </ion-row>
      </ion-toolbar>

      <ion-row>
    
      </ion-row>
    
      <ion-row>
        <ion-toolbar>
          <ion-row>
            <ion-title  class="content__title">
              Campanha(s) Ativa(s)
            </ion-title>
    
            <a 
              class=""
              [routerLink]="'/clinica/listagem-campanhas'"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }">
              Ver todas as campanhas
            </a>
          </ion-row>
        </ion-toolbar>
        <ion-row>
          <ion-col size="12" *ngFor="let campanha of dados">
            <app-item-campanha [dados]="campanha"></app-item-campanha>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
