<app-header 
[backgroundColor]="'main__palette'"
[pagesMenu]="[
  {name:'Home', route:' '},
  {name:'Vacinas',   route:' '},
  {name:'Funcionários',  route:' '},
  {name:'Estoque',  route:' '},
]"></app-header>

<ion-content [fullscreen]="true" class="main__palette">
  <ion-row class="container ion-justify-content-center">
    <ion-col size="10">
      <ion-toolbar>
        <ion-row>
          <ion-title  class="container__title">
            Campanhas
          </ion-title>

          <ion-item lines="none">
            <!-- <app-input-search [searchFunction]="pesquisarFuncionario" (searchResults)="onSearchFuncionario($event)"></app-input-search>-->
            <!-- <app-button-add [message]="'Novo Funcionario'" [imgPath]="'assets/icon/icon_user.svg'" [route]="'/cadastro-funcionario'"></app-button-add>  -->
          </ion-item>
        </ion-row>
      </ion-toolbar>

    </ion-col>
  </ion-row>
</ion-content>