<app-header 
[backgroundColor]="'main__palette'"
[pagesMenu]="[
  {name:'Home', route:'/clinica/home'},
  {name:'Vacinas', route:'/clinica/listagem-vacinas'},
  {name:'Funcionários', route:'/clinica/listagem-funcionarios'},
  {name:'Estoque', route:'/clinica/listagem-funcionarios'}
]"></app-header>

<ion-content [fullscreen]="true" class="main__palette">
  <ion-row class="container ion-justify-content-center">
    <ion-col size="10">

      <app-form-cadastro-vacina></app-form-cadastro-vacina>

    </ion-col>
  </ion-row>
</ion-content>
