<body class="page-content">
  

  <div class="parte_superior" >
  <div class="icon">
    <ion-icon name="arrow-back" class="icone_seta" (click)="navigateTo('agendamento-page', 'back')"></ion-icon>
  </div>
    <div class="logo">
      <img src=".\assets\img\logo_inovaccine.png" alt="" class="ajuste_logo">
    </div>
  </div>
  <div class="div_form">
    <form id="form_consulta">
      <div class="form-group">
        <label for="data">Escolha o Dia</label>
        <app-input-data name="data" (ionChange)="handleDateChange($event)"></app-input-data>
      </div>
    
      <div class="form-group">
        <label for="Hora">Horários Disponíveis</label>
          <ion-select
            fill="solid"
            aria-label="Hora"
            placeholder="Selecione o Horário"
            (ionChange)="handleTimeChange($event)"
          >
            <ion-select-option value="11:00">11:00</ion-select-option>
            <ion-select-option value="15:00">15:00</ion-select-option>
            <ion-select-option value="17:30">17:30</ion-select-option>
          </ion-select>
      </div>
    
      <div class="form-group">
        <label for="Vacinas">Vacinas Faltando/Disponíveis</label>
          <ion-select
            aria-label="Vacinas"
            fill="solid"
            placeholder="Selecione a Vacina"
            (ionChange)="handleVaccineChange($event)"
          >
            <ion-select-option value="Hepatite B">Hepatite B</ion-select-option>
            <ion-select-option value="Covid-19">Covid-19</ion-select-option>
            <ion-select-option value="Dengue">Dengue</ion-select-option>
          </ion-select>
      </div>
    
      <div class="form-group">
        <label for="Clinica">Selecione a Clinica</label>
          <ion-select
            aria-label="Clinica"
            fill="solid"
            placeholder="Selecione a Clínica"
            (ionChange)="handleClinicChange($event)"
          >
            <ion-select-option value="Unimed">Unimed</ion-select-option>
            <ion-select-option value="Hospital São Miguel Arcanjo">Hospital São Miguel Arcanjo</ion-select-option>
            <ion-select-option value="Hospital Santa Luzia">Hospital Santa Luzia</ion-select-option>
          </ion-select>
      </div>
    
      <div class="form-group">
        <ion-button class="agd_btn" (click)="onSubmit()">
          Agendar
        </ion-button>
      </div>
    </form>
    
  </div>
  </body>
  