<ion-modal #modal trigger="open-modal" class="content__modal">
  <ng-template>
    <form class="form__modal" [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-toolbar>
        <ion-title class="content__title">
          Nova Campanha
        </ion-title>
        <ion-buttons slot="end">
          <div class="btn__exit" (click)="modal.dismiss()">
            <img src="assets/icon/icon_x.svg" alt="">
          </div>
        </ion-buttons>
      </ion-toolbar>
    
      <app-input-search-cadastro 
        [formGroup]="form"
        [label]="'Vacina'"
        [name]="'fk_campanha_codVacina'"
        [searchFunction]="pesquisarVacina"
        (codigoSelecionado)="vacinaId = $event">
      </app-input-search-cadastro>

      <app-input-text-list [inputs]="inputsData" [formGroup]="form">
        <ion-col size="6">
          <app-input-date [formGroup]="form" [label]="'Data de Início'" [name]="'dataInicio'"></app-input-date>
        </ion-col>
        <ion-col size="6">
          <app-input-date [formGroup]="form" [label]="'Data de Finalização'" [name]="'dataFim'"></app-input-date>
        </ion-col>
      </app-input-text-list>

      <ion-row class="ion-justify-content-end">
        <ion-button class="form__modal__button" type="ngSubmit">Cadastrar</ion-button>
      </ion-row>
    </form>
  </ng-template>
</ion-modal>
