@import '../../../../theme/variables.scss';

.content{
  &__modal{
    --border-radius: 10px;
    --height: fit-content;

    .btn__exit{
      margin: 0 5px;
      cursor: pointer;
      img{
        height: 35px;
      }
    }

    .form__modal{
      ion-item.form__item{
          &:focus-within ion-input{
            --highlight-color-valid: #{$green-secondary-color}; 
            --highlight-color: #{$green-secondary-color}; 
          }

          &:hover ion-input{
            --border-color: #{$green-secondary-color};
          }
      }

      &__button{
        font-size: 1.15rem;
        margin: 20px;
        --padding-top: 15px;
        --padding-bottom: 15px;
        --background: #{$green-primary-color};
      }
    }
  }

  &__title{
    color: $green-secondary-color;
    font-size: 1.7rem;
    font-weight: bold;
  }
}