<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-toolbar>
    <ion-title  class="container__title">
      Cadastro Clínica
    </ion-title>
  </ion-toolbar>

  <app-input-search-cadastro 
    [formGroup]="form"
    [label]="'Médico Responsável'"
    [name]="'nome_medico'"
    [searchFunction]="pesquisarMedico"
    (codigoSelecionado)="medicoId = $event">
  </app-input-search-cadastro>

  <app-input-text-list [inputs]="inputsDataGeral" [formGroup]="form">
    <ion-col size="6">
      <ion-item class="form__item input__time" lines="none">
        <ion-text class="input__time__title ion-text-nowrap">Horário de Funcionamento</ion-text>
        <app-input-time
          label="Início"
          placeholder="00:00"
          name="hora_inicio"
          id="hora"
          [formGroup]="form"
        ></app-input-time>
        <ion-text class="input__time__text">às</ion-text>
        <app-input-time
          label="Fim"
          placeholder="00:00"
          name="hora_fim"
          id="horaa"
          [formGroup]="form"
        ></app-input-time>
      </ion-item>

    </ion-col>
  </app-input-text-list>

  <ion-toolbar>
    <ion-title>Endereço</ion-title>
  </ion-toolbar>
  <app-input-text-list [inputs]="inputsDataEndereco" [formGroup]="form"></app-input-text-list>

  <ion-toolbar>
    <ion-title>Informações de Login</ion-title>
  </ion-toolbar>
  <app-input-text-list [inputs]="inputsDataLogin" [formGroup]="form"></app-input-text-list>

  <ion-row class="ion-justify-content-end">
    <ion-button class="form__button" type="ngSubmit">Cadastrar</ion-button>
  </ion-row>
</form>