/* Geral */
body {
  overflow-y: scroll; /* Permite rolagem vertical se necessário */
}

/* Animações */
.page-content {
  transition: opacity 0.5s ease-out; /* Animação de transição de opacidade */
  opacity: 1;
}

/* Parte Superior */
.parte_superior {
  display: none;
  justify-content: space-between; /* Espaço entre os itens */
  align-items: center; /* Alinha verticalmente os itens */
  padding: 10px; /* Padding para a parte superior */
  background-color: #ffffff; /* Fundo branco para destacar os elementos */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

/* Ícone de Navegação */
.icon {
  display: flex;
  justify-content: flex-start; /* Alinha ícone à esquerda */
}

/* Logo */
.ajuste_logo {
  max-width: 120px; /* Largura máxima do logo */
  height: auto; /* Mantém a proporção do logo */
}

/* Formulário */
.div_form {
  display: flex;
  justify-content: center; 
  flex-direction: column; /* Coloca os elementos na vertical */
  align-items: center; /* Centraliza os elementos horizontalmente */
  padding: 20px; /* Padding interno do formulário */
 /* Fundo cinza claro */
  border-radius: 10px; /* Bordas arredondadas */
 /* Sombra para profundidade */
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 600px; /* Largura máxima do formulário */
  margin: auto; /* Centraliza horizontalmente na tela */
}

/* Grupos de Formulário */
.form-group {
  width: 100%; /* Ocupa toda a largura do formulário */
  margin: 10px 0; /* Margem vertical entre grupos */
}

/* Campos Adicionais */
.additional-fields {
  width: 100%; /* Ocupa toda a largura do formulário */
  transition: max-height 0.3s ease-in-out; /* Transição suave ao exibir campos */
  overflow: hidden; /* Esconde campos excedentes */
}

.show-fields {
  max-height: 1000px; /* Altura máxima quando os campos estão visíveis */
}

/* Botão de Agendamento */
.agd_btn {
  width: 100%; /* Ocupa toda a largura do formulário */
  --background: var(--primary-color)
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .ajuste_logo {
    max-width: 100%; /* Logo ocupa 100% em telas menores */
  }

  .div_form {
    padding: 15px; /* Reduz padding em telas menores */
  }

  .form-group {
    margin: 8px 0; /* Reduz margem em telas menores */
  }
}
