/* Geral */
body {
  overflow-y: scroll; /* Permite rolagem vertical se necessário */
  margin: 0; /* Remove margens padrão */
  font-family: Arial, sans-serif; /* Define uma fonte padrão */
}

/* Animações */
.page-content {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

/* Parte Superior */
.parte_superior {
  display: none; /* Muda para flex para que o conteúdo possa ser alinhado */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Ícone de Navegação */
.icon {
  width: 32px;
  color:var( --secondary-color);
  display: flex;
  justify-content: flex-start;
}

/* Logo */
.ajuste_logo {
  max-width: 120px;
  height: auto;
}

/* Formulário */
.div_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  width: 100%; /* Garante que ocupe toda a largura */
}

.form_consulta {
  width: 100%;
}

/* Grupos de Formulário */
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

ion-select, ion-input {
  width: 100%; /* Garante que os inputs ocupem 100% */
  --background: #E0E2EC;
  min-width: 300px; /* Reduz a largura mínima para dispositivos menores */
  max-width: 1000px; /* Define uma largura máxima para inputs */
  padding: 10px; /* Adiciona padding para melhor usabilidade */
}

/* Campos Adicionais */
.additional-fields {
  width: 100%;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.show-fields {
  max-height: 1000px;
}

/* Botão de Agendamento */
.agd_btn {
  width: 100%;
  --background: var(--primary-color);
  padding: 12px; /* Aumenta o padding do botão para maior área clicável */
  font-size: 16px; /* Aumenta o tamanho da fonte do botão */
}


@media (min-width: 370px) and (max-width: 868px) {
  app-header-component{
    display: none;
  }
  app-footer{
    display: none;
  }
  .parte_superior{
    display: flex;
  }
  .ajuste_logo {
    max-width: 100%; /* Logo ocupa 100% em telas muito pequenas */
  }

  .div_form {
    padding: 10px; /* Reduz o padding em telas pequenas */
  }

  .form-group {
    margin: 6px 0; /* Diminui a margem em telas pequenas */
    width: 100%;
  }

  ion-select, ion-input {
    width: 30%; /* Garante que os inputs ocupem 100% em telas pequenas */
  }

  .agd_btn {
    padding: 10px; /* Ajusta o padding do botão para telas menores */
    font-size: 12px; /* Ajusta o tamanho da fonte do botão para telas menores */
  }
}
