body{
    overflow-y: scroll;
}
.page-content {
  transition: opacity 0.5s ease-out; /* Define uma transição suave de 0.5 segundos */
  opacity: 1; /* Começa com opacidade total */
}

.page-content.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}


  .parte_superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    & .icone_seta{
      font-size: 32px;
      display: flex;
       justify-content:center;
        align-items: center;
         color: var(--primary-color);
         
    }

    & .icon{
      display: flex;
      justify-content: flex-start;
    }

    & .logo {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    & .ajuste_logo {
      width: 25%;
      height: 25%;
    }
  }
  .div_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;

    & .form_consulta{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    & .form-group{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2vw;
    }
  }
  ion-select {
    --background: #e0e2ec;
    width: 12vw;
    justify-content: center;
  }
  .agd_btn{
    --background: var(--primary-color);

  }
  
  @media (min-width: 275px) and (max-width: 768px) {
    .parte_superior {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; /* Adicionado para espaçar corretamente os itens */
        width: 100%;
        padding: 0 10px; /* Adiciona algum espaço nas laterais */
    }

    .logo {
        width: 100%; 
        display: flex;
        justify-content: center;
    }

    .ajuste_logo {
        width: 100%; 
        scale: 2; 
    }

    .icone_seta {
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    ion-select {
      --background: #e0e2ec;
      width: 68vw;
      justify-content: center;
    }
    .div_form{
      padding: 15vw;
      & .form-group{
        padding: 5vw;
      }
    }
    .agd_btn{
      width: 100%;
    }
}