<body class="page-content">
  <app-header-component></app-header-component>

  <div class="parte_superior">
    <div class="icon">
      <ion-icon
        name="arrow-back"
        class="icone_seta"
        size="large"
        (click)="navigateTo('agendamento-page', 'back')"
        style="cursor: pointer; width: 64px"
      ></ion-icon>
    </div>
    <div class="logo">
      <img
        src="./assets/img/logo_inovaccine.png"
        alt="Logo"
        class="ajuste_logo"
      />
    </div>
  </div>

  <div class="div_form">
    <form *ngIf="!showConfirmation" [formGroup]="agendamentoForm" id="form_consulta">
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <label for="modalidade">Modalidade de Agendamento</label>
            <ion-select
              fill="solid"
              aria-label="Modalidade"
              placeholder="Escolha a forma do Agendamento"
              formControlName="modalidade"
              (ionChange)="onModalityChange($event)"
            >
              <ion-select-option value="casa">Vacina em Casa</ion-select-option>
              <ion-select-option value="clinica">Vacina na Clínica</ion-select-option>
            </ion-select>
            <div *ngIf="agendamentoForm.get('modalidade')?.invalid && agendamentoForm.get('modalidade')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="selectedMode">
        <ion-row *ngIf="isHomeVisit">
          <div class="form-group">
            <label for="clinica">Clínicas Disponíveis</label>
            <ion-select
              fill="solid"
              placeholder="Selecione a Clínica"
              formControlName="clinica"
            >
              <ion-select-option
                *ngFor="let clinica of clinicas"
                [value]="clinica.codClinica"
              >
                {{ clinica.nome }}
              </ion-select-option>
            </ion-select>
            <div *ngIf="agendamentoForm.get('clinica')?.invalid && agendamentoForm.get('clinica')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>
          
          <div class="form-group-vacina">
            <label for="data">Escolha o Dia</label>
              <input
                type="date"
                id="data"
                class="custom-date-input"
                formControlName="data"
                (ionChange)="onDateChange($event)"
              />
            <div *ngIf="agendamentoForm.get('data')?.invalid && agendamentoForm.get('data')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="hora">Horários Disponíveis</label>
            <ion-select
              fill="solid"
              aria-label="Hora"
              placeholder="Selecione o Horário"
              formControlName="hora"
              (ionChange)="onTimeChange($event)"
            >
              <ion-select-option value="11:00">11:00</ion-select-option>
              <ion-select-option value="15:00">15:00</ion-select-option>
              <ion-select-option value="17:30">17:30</ion-select-option>
            </ion-select>
            <div *ngIf="agendamentoForm.get('hora')?.invalid && agendamentoForm.get('hora')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>
         

          <div class="form-group">
            <label for="formaPagamento">Forma de Pagamento</label>
            <ion-select
              fill="solid"
              aria-label="Forma de Pagamento"
              placeholder="Selecione a Forma de Pagamento"
              formControlName="formaPagamento"
              (ionChange)="onPaymentChange($event)"
            >
              <ion-select-option value="cartao">Cartão de Crédito/Débito</ion-select-option>
              <ion-select-option value="boleto">Boleto Bancário</ion-select-option>
              <ion-select-option value="pix">PIX</ion-select-option>
            </ion-select>
            <div *ngIf="agendamentoForm.get('formaPagamento')?.invalid && agendamentoForm.get('formaPagamento')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>

          <div class="group-vacinca">
            <label>Vacina</label>
            <ion-list class="vacina-checkbox-container">
              <div *ngFor="let vacinas of vacina" class="vacina-checkbox">
                <ion-label>{{ vacinas.nome }}</ion-label>
                <ion-checkbox
                  [formControlName]="i"
                  slot="start"
                  (ionChange)="onCheckboxChange($event, vacinas)">
                </ion-checkbox>
              </div>
            </ion-list>
            <div *ngIf="agendamentoForm.get('vacina')?.invalid && agendamentoForm.get('vacina')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>
        </ion-row>

        <ion-row *ngIf="!isHomeVisit">
          <div class="form-group">
            <label for="clinica">Clínicas Disponíveis</label>
            <ion-select
              fill="solid"
              placeholder="Selecione a Clínica"
              formControlName="clinica"
            >
              <ion-select-option
                *ngFor="let clinica of clinicas"
                [value]="clinica.codClinica"
              >
                {{ clinica.nome }}
              </ion-select-option>
            </ion-select>
            <div *ngIf="agendamentoForm.get('clinica')?.invalid && agendamentoForm.get('clinica')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>

          <div class="form-group-data">
            <label for="data">Escolha o Dia</label>
              <input
                type="date"
                id="data"
                class="custom-date-input"
                formControlName="data"
                (ionChange)="onDateChange($event)"
              />
            <div *ngIf="agendamentoForm.get('data')?.invalid && agendamentoForm.get('data')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>

          <div class="form-group">
            <label for="hora">Horários Disponíveis</label>
            <ion-select
              fill="solid"
              aria-label="Hora"
              placeholder="Selecione o Horário"
              formControlName="hora"
              (ionChange)="onTimeChange($event)"
            >
              <ion-select-option value="11:00">11:00</ion-select-option>
              <ion-select-option value="15:00">15:00</ion-select-option>
              <ion-select-option value="17:30">17:30</ion-select-option>
            </ion-select>
            <div *ngIf="agendamentoForm.get('hora')?.invalid && agendamentoForm.get('hora')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>

          <div class="group-vacinca">
            <label>Vacina</label>
            <ion-list class="vacina-checkbox-container">
              <div *ngFor="let vacinas of vacina" class="vacina-checkbox">
                <ion-label>{{ vacinas.nome }}</ion-label>
                <ion-checkbox
                  slot="start"
                  [value]="vacinas.codVacina"
                  (ionChange)="onCheckboxChange($event, vacinas)">
                </ion-checkbox>
              </div>
            </ion-list>
            <div *ngIf="agendamentoForm.get('vacina')?.invalid && agendamentoForm.get('vacina')?.touched">
              <small class="error-text">Este campo é obrigatório.</small>
            </div>
          </div>
        </ion-row>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" (click)="onSubmit()" class="agd_btn">Confirmar Agendamento</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <div *ngIf="showConfirmation" class="confirmation-container">
      <h3>Dados do Agendamento</h3>
      <p><strong>Modalidade:</strong> {{ agendamentoForm.value.modalidade }}</p>
      <p><strong>Data:</strong> {{ agendamentoForm.value.data }}</p>
      <p><strong>Hora:</strong> {{ agendamentoForm.value.hora }}</p>
    
      <!-- Chama o método getVacinasSelecionadas() para exibir os nomes das vacinas -->
      <p><strong>Vacina:</strong> {{ getVacinasSelecionadas() }}</p>
    
      <p><strong>Clínica:</strong> {{ getClinicaNome() }}</p>
      <p *ngIf="isHomeVisit"><strong>Forma de Pagamento:</strong> {{ agendamentoForm.value.formaPagamento }}</p>
    
      <div>
        <ion-button (click)="onConfirm()" expand="full" class="btn_confirmar">Confirmar</ion-button>
        <ion-button (click)="onCancel()" expand="full" color="danger">Cancelar</ion-button>
      </div>
    </div>
    

  </div>

  <app-footer></app-footer>
</body>
