// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --primary-color: #04BFAD;
    --primary-color-light: #cdf7f1;
    --secondary-color: #035AA6;
    --color-text-dark:black;
    --color-text-ligth:white;
    --color-icon-menu: white;
    --background:#eae8e8;
    --background-search:#D9D9D9;
    --vacinas-pendentes:#ff6363;
    --card-vacPendentes: #f7d9d9;
    --background-services: rgba(196, 196, 196, 0.7);
    --header-color:#027368;
    --background-input:#e0e2ec;
    }
    