.ultilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 95%;
}
app-menu{
    display: none;
}
.input_pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: var(--background-search);
    border-radius: 25px;
    padding: 5px;
}

.search-input {
    border-radius: 10px;
    width: 90%;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.search-icon {
    color: var(--color-text-dark);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.btn_services {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn_serviços {
    width: 30%;
    height: 20px;
    --background: var(--secondary-color);
    --border-radius: 15px;
}

.btn_carteirinha {
    width: 50%;
    height: 20px;
    --background: var(--secondary-color);
    --border-radius: 15px;
}

.cards{
    display: flex;
    justify-content: center;
}

.vacinas_pendentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--vacinas-pendentes);
    padding: 10px 20px;
    // width: 100%;

    // height: 80vh;
    // overflow-y: scroll;

    .txt_vacina_pendente {
        font-weight: bold;
        font-size: 25px;
    }
    
    .title_VacPendente {
        color: var(--vacinas-pendentes);
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;
    }

    .card_vacPendente {
        background-color: var(--card-vacPendentes);
        border-radius: 10px;
        width: 100%;
        padding: 10px 20px;
    }
    
    .dados_vacPendentes {
        display: flex;
        flex-direction: column;
        background-color: var(--color-text-ligth);
        border-radius: 10px;
        justify-content: space-between;
        align-items: center;
        color: var(--color-text-dark);
        width: 100%;
    
    .vacPendente_info{
        font-size: 16px;
    }
    }

    .btn-agendar {
        margin-top: -5px;
        --background: var(--vacinas-pendentes);
    }
    
    .info_vacPendentes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: var(--color-text-dark);
        width: 100%;
        p{
            font-size: 15px;
            font-weight: bolder;
        }
    }
}

.centraliza_infovac {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minhas_vacinas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.text_MyVacina {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
}

.card_vacina {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-light);
    border-radius: 15px;
    margin-top: 20px;
    padding: 25px;
    width: 100%;
    
}

.ion-color-green {
    --ion-color-base: var(--primary-color-light);
}

div[slot='content'] {
    background: var(--primary-color-light);
}

.ion-padding {
    --background: var(--primary-color-light)
}

.dados_MyVacina {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
}
.dropdown_MyVacina{
    color: var(--primary-color);
}

.info_MyVacina {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--color-text-dark);
    font-weight: normal;
    font-size: 15px;
    justify-content: center;
    align-items: center;

    & i{
        font-size: 15px;
    }
}

.centraliza_MyVacina {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre_vacina {
    display: flex;
    flex-direction: column;
    background-color: var(--color-text-ligth);
    border-radius: 15px;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-dark);
    width: 100%;
    height: auto;

    & i{
        font-size: 15px;
    }
}

.info_vacina {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-dark);
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}

@media (min-width: 180px) and (max-width: 868px) {
    body {
        width: 100%;
    }
    app-menu{
        display: flex;
    position: sticky; 
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
        }

    .ultilidades {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .input_pesquisa {
        font-size: 25px;
        padding: 10px;
    }

    .search-input {
        border-radius: 10px;
        width: 100%;
    }

    .search-icon {
        width: 40px;
        height: 40px;
    }

    .btn_services {
        gap: 5px;
        width: 100%;
        display: flex;
    }

    .btn_serviços {
        width: 25%;
        font-size: 15px;
        --border-radius: 40px;
    }

    .btn_carteirinha {
        width: 40%;
        --background: var(--secondary-color);
        --border-radius: 40px;
        font-size: 15px;
    }
    ion-card-title{
        font-size: 15px;
    }

    .txt_vacina_pendente {
        font-weight: bold;
        font-size: 25px;
    }

    .card_vacPendente {
        width: 100%;
    }

    .dados_vacPendentes {

        width: 100%;
    }

    .btn-agendar {
        font-size: 12px;
        --border-radius: 15px;
        height: 3%;
    }

    .info_vacPendentes {
        width: 100%;
    }

    .minhas_vacinas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    .centraliza_MyVacina{
        width: 100%;
    }

    .text_MyVacina {
        color: var(--primary-color);
        font-size: 25px;
        font-weight: bold;
    }
    .dropdown_MyVacina{
        font-size: 12px;
    }

    .card_vacina {
        width: 100%;

    }

    .ion-color-green {
        --ion-color-base: var(--primary-color-light);
    }

    div[slot='content'] {
        background: var(--primary-color-light);
    }

    .ion-padding {
        --background: var(--primary-color-light)
    }

    .info_MyVacina {
        font-size: 12px;
    }

    .sobre_vacina {
        font-size: 0.8rem;
    }

    .info_vacina {
        font-size: 0.8rem;
    }
}