
<div class="ultilidades">
  <div class="input_pesquisa">
    <input type="text" placeholder="Buscar Vacina" class="search-input">
    <ion-icon name="search-outline" class="search-icon"></ion-icon>
  </div>
  <div class="btn_services">
    <ion-button class="btn_serviços">Serviços</ion-button>
    <ion-button class="btn_carteirinha">Emitir Carteirinha
      <ion-icon name="document-text-sharp" size="large"></ion-icon>
    </ion-button>
  </div>
</div>

<ion-row class="cards">
  <ion-col size-md="10" size-sm="12" size-lg="6">
    <div class="minhas_vacinas">
      <div class="text_MyVacina">
        MINHAS VACINAS
        <ion-icon name="checkmark-outline" size="large"></ion-icon>
      </div>
      <ion-accordion-group class="card_vacina " *ngFor="let vacinas of vacina">
        <ion-accordion value="first">
          <ion-item slot="header" color="green" class="dropdown_MyVacina">
            <ion-card-title class="dados_MyVacina">{{vacinas.nome}}
              <div class="info_MyVacina">
                <p class="info_MyVacina">Lote: #0004</p>
                <p class="info_MyVacina">Ass: DR.Chico Moedas</p>
                <p class="info_MyVacina">00/00/0000</p>
              </div>
            </ion-card-title>
          </ion-item>
          <div slot="content">
            <div class="centraliza_MyVacina">
              <div class="sobre_vacina">
                {{vacinas.informacao}}
                <div class="info_vacina">
                  <p>Doses: {{vacinas.diasAplicacao}}</p>
                  <p>Período: {{vacinas.periodo}}</p>
                  <p>Valor: R${{vacinas.preco}}</p>
                </div>
              </div>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ion-col>

  <ion-col  size-md="10" size-sm="10" size-lg="6">
    <div class="vacinas_pendentes">

      <div class="txt_vacina_pendente">VACINAS PENDENTES
        <ion-icon name="alert-circle-outline" size="large"></ion-icon>
      </div>
      <ion-card class="card_vacPendente" *ngFor="let vacinas of vacina">
        <ion-card-header>
          <ion-card-title class="title_VacPendente">
            {{vacinas.nome}}
            <ion-button class="btn-agendar" size="medium">Agendar
              <ion-icon name="calendar" size="medium" style="color: white; margin-left: 5px;"></ion-icon>
            </ion-button>
          </ion-card-title>
        </ion-card-header>
        <div class="centraliza_infovac">
          <ion-card-content class="dados_vacPendentes">
            <p>
              {{vacinas.informacao}}
            </p>
            <div class="info_vacPendentes">
              <p>Doses:{{vacinas.diasAplicacao}} </p>
              <p>Período: {{vacinas.periodo}}</p>
              <p>Valor: R${{vacinas.preco}} </p>
            </div>
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </ion-col>
</ion-row>
<app-menu></app-menu>