@import '../../../theme/variables.scss';

.header{
  padding: 0 110px;
  background: var(--primary-color);

  &__logo{
    height: 60px;
  }

  &__nav{
    &__item{
      &::part(native){
        background: transparent;
      }

      a{
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        color: $green-light-color;

        &:hover{
          transition: .2s all;
          box-shadow: 0 2px 0 $green-light-color;
        }

        &.active-link {
          box-shadow: 0 2px 0 $green-light-color;
        }
      }
    }
  }

  &__icon{
    height: 35px;
    padding: 0 5px;
    cursor: pointer;

  }
}

#logout{
  display: flex;
  p{
    display: none;
    color: white;
    line-height: 0.25;
    text-decoration: underline;
    position: absolute;
    right: -20px;
  }

  &:hover p{
    display: block;
  }
}