<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row 
    [ngClass]="backgroundColor" 
    class="header ion-align-items-center ion-justify-content-center"
    >
      <ion-col size="2">
        <ion-row>
          <ion-img
            class="header__logo"
            src="../../../assets/images/logo_light.svg"
            alt="Profile_Icon"
          ></ion-img>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row class="header__nav ion-justify-content-center">
          <ion-item *ngFor="let page of pagesMenu" lines="none" class="header__nav__item">
            <a 
              [routerLink]="page.route"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }">
              {{ page.name }}
            </a>
          </ion-item>
        </ion-row>
      </ion-col>

      <ion-col size="2">
        <ion-row class="header__icons ion-justify-content-end">
          <ion-img
            class="header__icon"
            src="../../../assets/icon/icon_profile.svg"
            alt="Profile_Icon"
          ></ion-img>
          <ion-img
            class="header__icon"
            src="../../../assets/icon/icon_sign-out.svg"
            alt="Profile_Icon"
          ></ion-img>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
