@import '../../../theme/variables.scss';

.header{
  padding: 0 100px;

  &__logo{
    height: 50px;
  }

  &__nav{
    &__item{
      &::part(native){
        background: transparent;
      }

      a{
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        color: $green-light-color;
      }
    }
  }

  &__icon{
    height: 35px;
    padding: 0 5px;
  }
}