@import '../../../theme/variables.scss';

.card{
    padding: 10px;
    border-radius: 5px;
    background: $light-color;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    border: 3px solid var(--tertiary-color);
    cursor: pointer;

    &__title{
        padding: 0;
        margin-bottom: 10px;
    }

    &__footer{
        ion-text p{
            margin: 0;
        }
    }
}
