* {
    margin: 0;
    padding: 0;
}

.menuApp {
    display: flex;
    background-color: var(--primary-color);
    height: 5%; /* Ajuste a altura conforme necessário */
    position: fixed; /* Faz o menu rolar com a página, mas ficar fixo ao final */
    bottom: 0; /* Fica fixo na parte inferior da tela, mas rola com o conteúdo */
    left: 0;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    z-index: 1001;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_icon, .denuncia_icon, .seringa_icon, .user_icon {
    color: var(--color-icon-menu);
    width: 24px;
    height: 24px;
}

/* Media Queries para responsividade */

/* Ajustes para telas menores (máximo 980px de largura) */
@media (max-width: 980px) {
    .menuApp {
        height: 10%; /* Aumenta a altura do menu para telas menores */
    }

    .home_icon, .denuncia_icon, .seringa_icon, .user_icon {
        width: 50px; /* Ícones maiores para telas menores */
        height: 50px;
    }

    label {
        font-size: 15px;
    }
}

/* Ajustes para telas pequenas (mínimo 320px de largura) */
@media (min-width: 320px) {
    .menuApp {
        height: 5%; /* Ajuste de altura para telas pequenas */
    }

    .home_icon, .denuncia_icon, .seringa_icon, .user_icon {
        width: 32px; /* Ícones menores para telas pequenas */
        height: 32px;
    }

    label {
        font-size: 12px;
    }
}
