<ion-row class="table">
  <ion-col>
    <ion-item lines="none">
      <ion-label *ngFor="let title of titlesTable">{{ title.name }}</ion-label>
      <span class="table__space"></span>
    </ion-item>
  </ion-col>
</ion-row>

<ion-accordion-group expand="inset">
  <ion-accordion value="first">
    <ion-item slot="header" >
      <ion-label *ngFor="let data of dataTable">{{ data.value }}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content" *ngFor="let info of infoDataTable">
      {{ info.name }}: {{ info.value }}
    </div>
  </ion-accordion>
  <ion-accordion value="ss">
    <ion-item slot="header">
      <ion-label *ngFor="let data of dataTable">{{ data.value }}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content" *ngFor="let info of infoDataTable">
      {{ info.name }}: {{ info.value }}
    </div>
  </ion-accordion>
  <ion-accordion value="rr">
    <ion-item slot="header">
      <ion-label *ngFor="let data of dataTable">{{ data.value }}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content" *ngFor="let info of infoDataTable">
      {{ info.name }}: {{ info.value }}
    </div>
  </ion-accordion>
</ion-accordion-group>