// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Main Palette 
$green-primary-color   : #04BFAD;
$green-secondary-color : #027368;
$green-dark-color      : #001A17;
$green-light-color     : #EBF8F6;

// Admin Palette
$blue-primary-color   : #035AA6;
$blue-secondary-color : #759CBF;

// Warning Palette
$red-primary-color : #FF6A6A;
$red-light-color   : #FFEEEE;

// Grayscale 
$grayscale-color       : #B8B8B8;
$grayscale-light-color : #EFEFEF;
$light-color : #FFFFFF;
$dark-color  : #000000;

.main__palette {
  --primary-color: #{$green-primary-color};
  --secondary-color: #{$green-secondary-color};
}

.admin__palette {
  --primary-color: #{$blue-primary-color};
  --secondary-color: #{$blue-secondary-color};
}