@import '../../../../theme/variables.scss';

.form{
  &__dropdown{
    ion-list{
      max-height: 300px;
      width: 50%;
      margin: 15px;
      border: 1px solid var(--secondary-color);
      border-radius: 10px;
      background: $grayscale-light-color;
      overflow-y: scroll;
      position: absolute;
      z-index: 99;

      .disabled-item {
        cursor: not-allowed;
      }

      ion-item{
        cursor: pointer;
        --background: #{$grayscale-light-color};
        &:hover{
          --background: #{$grayscale-color};
        }
      }
    }
  }
}