<ion-content [fullscreen]="true" class="main__palette">
  
  <ion-row class="header ion-align-items-center ion-justify-content-center">
    <ion-col>
      <ion-row class="header__nav ion-justify-content-center">
        <ion-item lines="none" class="header__nav__item">
          <a href="">Sobre Nós</a>
          <a href="">Planos</a>
          <a href="">Contato</a>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>
  
  <app-login-form></app-login-form>
  
</ion-content>
<ion-footer>
  <ion-row class="footer">
    <ion-col size="12">
      <ion-row>
  <img src=".\assets\img\footer-login.png" alt="img-footer">
  </ion-row>
</ion-col>
</ion-row>
</ion-footer>