<ion-content [fullscreen]="true" class="main__palette">
  
</ion-content>
<ion-row class="header ion-align-items-center ion-justify-content-center">
  <ion-col>
    <ion-row class="header__nav ion-justify-content-center">
      <ion-item lines="none" class="header__nav__item">
        <a href="">Sobre Nós</a>
        <a href="">Planos</a>
        <a href="">Contato</a>
      </ion-item>
    </ion-row>
  </ion-col>
</ion-row>

<ion-row class="container ion-justify-content-center ion-align-items-center">
  <ion-col size="10">
    
  </ion-col>
</ion-row>

<ion-footer>
<ion-row class="footer">
  <ion-col size="12">
    <img src=".\assets\img\footer-login.png" alt="img-footer">
  </ion-col>
</ion-row>
</ion-footer>