.header{
    height: 10vh;
    &__nav{
      ion-item{
        a{
          margin: 0 10px;
          color: var(--header-color);
          text-decoration: none;
          font-size: 26px;
        }
      }
    }
  }
  
  .container{
    min-height: 80vh;
  }
  
  .footer{
    height: 15vh;
    background: var(--header-color);
    img{
      margin: 0 20px;
      width: 390px;
      top: -240px;
      position: absolute;
    }
  
    .end{
      right: 0;
    }
  }
  
@media (min-width: 300px) and (max-width:800px){
  .header{
    display: none;
  }
  
}
@media (max-width: 768px) {
  .footer{

    img {
      width: 70%; 
      top: -200px; 
    }
  }
}


@media (max-width: 480px) {
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: flex;
      width: 35%; 
       top: -65px;
       left: 120px;
      margin: 0 10px; 
    }
  }
}