.header{
    height: 10vh;
    &__nav{
      ion-item{
        a{
          margin: 0 10px;
          color: var(--header-color);
          text-decoration: none;
          font-size: 26px;
        }
      }
    }
  }
  
  .container{
    min-height: 80vh;
  }
  
  .footer{
    height: 15vh;
    background: var(--header-color);
    img{
      margin: 0 20px;
      width: 390px;
      top: -240px;
      position: absolute;
    }
  
    .end{
      right: 0;
    }
  }
  .login-container {
    text-align: center;
    padding: 20px;

}
.login-container h2 {
    color: #008080;
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
}
.login-container a {
    color: #008080;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
.login-container button {
    background-color: #00bfa5;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
@media (min-width: 300px) and (max-width:800px){
  .header{
    display: none;
  }
  
}
@media (max-width: 768px) {
  .footer{

    img {
      width: 70%; 
      top: -200px; 
    }
  }
}


@media (max-width: 480px) {
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: flex;
      width: 35%; 
       top: -65px;
       left: 120px;
      margin: 0 10px; 
    }
  }
}