<ion-content [fullscreen]="true" class="main__palette">
  
  <ion-row class="header ion-align-items-center ion-justify-content-center">
    <ion-col>
      <ion-row class="header__nav ion-justify-content-center">
        <ion-item lines="none" class="header__nav__item">
          <a href="">Sobre Nós</a>
          <a href="">Planos</a>
          <a href="">Contato</a>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>
  
  <ion-row class="container ion-justify-content-center ion-align-items-center">
    <ion-col size="4 xs-8">
      <img src="./assets/img/logo_inovaccine.png" alt="">
      <div class="login-container">
        <h2>Fazer Login</h2>
        <input type="text" placeholder="Usuário">
        <input type="password" placeholder="Senha">
        <a href="#">Esqueceu a senha?</a>
        <button>ENTRAR</button>
      </div>
    </ion-col>
  </ion-row>
  
</ion-content>
<ion-footer>
  <ion-row class="footer">
    <ion-col size="12">
      <ion-row>
  <img src=".\assets\img\footer-login.png" alt="img-footer">
  </ion-row>
</ion-col>
</ion-row>
</ion-footer>